<a href="https://colab.research.google.com/github/TedFess/DSPS_tFessaras/blob/master/HW5/BuildingsEnergyOwners.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# -- link google drive
from google.colab import drive
drive.mount("/content/drive")

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
# -- useful imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as pl
import scipy as sp
from scipy import stats
import string

# data retrival
### LL84
get the Local Law 84 (ll84) data from the URL: https://data.cityofnewyork.us/api/views/8u86-bviy/rows.csv and read it in with Pandas

### Pluto
Download the pluto csv data and store it in your google drive. 

You can find the data here 
https://www1.nyc.gov/site/planning/data-maps/open-data/dwn-pluto-mappluto.page

IMPORTANT: store it in the path *drive/My Drive/dsps/ with the name pluto_18v2_1.csv*

This path and name have to be exact. This way the grader and I will be able to run your notebook without changing anything as long as we also have stored the data in path drive/My Drive/dsps/pluto_18v2_1.csv. This is part of the _reproducibility_ requirement.

In [0]:
ll84 = pd.read_csv("https://data.cityofnewyork.us/api/views/8u86-bviy/rows.csv")

In [149]:
!wget https://www1.nyc.gov/assets/planning/download/zip/data-maps/open-data/nyc_pluto_18v2_1_csv.zip

--2019-09-29 22:45:41--  https://www1.nyc.gov/assets/planning/download/zip/data-maps/open-data/nyc_pluto_18v2_1_csv.zip
Resolving www1.nyc.gov (www1.nyc.gov)... 104.117.25.95, 2600:1402:3800:290::1500, 2600:1402:3800:29d::1500
Connecting to www1.nyc.gov (www1.nyc.gov)|104.117.25.95|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 82994022 (79M) [application/zip]
Saving to: ‘nyc_pluto_18v2_1_csv.zip’

nyc_pluto_18v2_1_cs 100%[===================>]  79.15M  15.6MB/s    in 5.1s

2019-09-29 22:45:46 (15.5 MB/s) - ‘nyc_pluto_18v2_1_csv.zip’ saved [82994022/82994022]

In [150]:
!unzip "nyc_pluto_18v2_1_csv.zip"

Archive:  nyc_pluto_18v2_1_csv.zip
replace pluto_18v2_1.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: pluto_18v2_1.csv
  inflating: PLUTODD18v2.1.pdf
  inflating: PlutoReadme18v2.1.pdf

In [4]:
ls

drive/  sample_data/

In [6]:
cd drive/My Drive/dsps

/content/drive/My Drive/dsps

# data fusion

### select data
select the data for buildings _in the borough of Manhattan_ only from the pluto file (you can do it broadcasting!)

### merge
merge the pluto and ll84 dataframes. you will have to choose an appropriate column that both datasets share fo do so. The column may not have the same nbame, but should have the same _variable_.

In [7]:
pluto = pd.read_csv("pluto_18v2_1.csv")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (16,17,18,20,22,77) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
pluto_mn = pluto[pluto["borough"] == "MN"]

In [9]:
pluto_mn.head()

   borough   block     lot     cd  ...  basempdate  masdate  polidate  edesigdate
7       MN   707.0    45.0  104.0  ...  12/21/2018      NaN       NaN  12/20/2018
12      MN  1486.0     4.0  108.0  ...  12/21/2018      NaN       NaN  12/20/2018
19      MN   660.0   501.0  102.0  ...  12/21/2018      NaN       NaN  12/20/2018
37      MN   190.0  7508.0  101.0  ...  12/21/2018      NaN       NaN  12/20/2018
42      MN  1261.0    60.0  105.0  ...  12/21/2018      NaN       NaN  12/20/2018

[5 rows x 96 columns]

In [10]:
ll84.head()

   Order  ...                                                NTA
0      1  ...  Turtle Bay-East Midtown                       ...
1      2  ...  Washington Heights South                      ...
2      3  ...  Washington Heights South                      ...
3      4  ...  Washington Heights South                      ...
4      5  ...  Washington Heights South                      ...

[5 rows x 60 columns]

In [0]:
merged = pd.merge(pluto_mn, ll84, left_on = "bbl", right_on = "BBL - 10 digits")

In [12]:
merged.head()

  borough  ...                                                NTA
0      MN  ...  Turtle Bay-East Midtown                       ...
1      MN  ...  Turtle Bay-East Midtown                       ...
2      MN  ...  SoHo-TriBeCa-Civic Center-Little Italy        ...
3      MN  ...  Clinton                                       ...
4      MN  ...  Clinton                                       ...

[5 rows x 156 columns]

# data exploration and cleaning

### extact columns
extract the columns listed in the file "columns.txt" from the dataset.

convert the resulting dataset to numerical, converting non-numerical values to NaN. drop rows that contain invalid values and save the resulting dataframe (_reducted_ dataframe)

In [0]:
file = open("columns.txt", 'r')
extracted = pd.DataFrame()
for line in file:
  column = line.rstrip()
  extracted[column] = merged[column]
file.close()

In [0]:
saved_extracted = extracted

In [15]:
saved_extracted.head()

   DOF Gross Floor Area  Year Built  ...  unitstotal  yearalter1
0              672462.0        1960  ...         1.0      2004.0
1              197972.0        1962  ...       159.0      2014.0
2               70000.0        1915  ...        30.0      1986.0
3              156508.0        1920  ...        12.0         0.0
4              114992.0        1929  ...       237.0      1985.0

[5 rows x 22 columns]

In [16]:
file = open("columns.txt", 'r')
for line in file:
  extracted = extracted[(extracted[line.rstrip()]!= "Not Available")]
extracted.dropna(inplace = True)

/usr/local/lib/python3.6/dist-packages/pandas/core/ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [0]:
extracted = extracted.reset_index(drop=True)

In [39]:
extracted.describe(include = ["O"])
#extracted['ENERGY STAR Score'] = pd.to_numeric(extracted['ENERGY STAR Score'],errors='coerce')

       Weather Normalized Site EUI (kBtu/ft²)  ... Water Intensity (All Water Sources) (gal/ft²)
count                                    2044  ...                                          2044
unique                                    945  ...                                          1808
top                                      67.7  ...                                             0
freq                                        9  ...                                            10

[4 rows x 6 columns]

In [40]:
print(extracted["ENERGY STAR Score"].mean())

57.45450097847358

### Assess impact of data wrangling
Describe the  datasets resulting from this data cleaning: 

- how many observations have you lost? 

- did any of the features (=columns) have inconsistent distribution between the full and reducted dataset? 

You can approach this question in a number of ways, and you have done this in the  homewors already (with a KS test, and by just looking at uncertainties are two examples of ways to do ut that you worked out in HW3 and HW4, the Z test might work if you can convince yourself that the full sample is the "population" - up to you! a quick google search would probably describe many more ways). Choose _2_ ways, describe what each does and why it is appropriate. Compare the results (indeed I did it in 4 ways and did not always get consistent results! each of these meathods measures a slightly different thing).

In [220]:
print(extracted.shape)
print(saved_extracted.shape)

(2047, 22)
(5196, 22)

In [222]:
print("lost buildings: ... (", 2047 / 5196 * 100 ,"%) ")

lost buildings: ... ( 39.39568899153195 %)

In [274]:
file = open("columns.txt", 'r')
i = 0
for line in file:
  sMean = float(extracted.describe(include = 'all').iloc[1,i])
  pMean = float(saved_extracted.describe(include = 'all').iloc[1,i])
  sCount = float(extracted.describe(include = 'all').iloc[0,i])
  pDev = float(saved_extracted.describe(include = 'all').iloc[2,i])
  z_score = (sMean - pMean)/(pDev / np.sqrt(sCount))
  i += 1
file.close()

ValueError: ignored

### plot WNEC
Regardless of what you found above, plot the distribution of the _log base 10_ of the weather-normalized site energy consumption (WNEC) for all values larger than 0.1 (such that log10(min) is -1) for the _entire dataset_ and for the _reducted one_: do you think inference on this feature would be affected by this way of dealing with missing data affects the result?

In [280]:
np.histogram(extracted["Weather Normalized Site EUI (kBtu/ft²)"], bins = 30)

TypeError: ignored

# 667 and extyra credit
plot a "scatter matrix" of the selected columns. Identify 4 promising "scaling laws" and plot them separately (a scatter plot of column1 vs column2). Does it make sense that there should be a scaling law between the 2 variables? 

which features should be strongly correlated or identical but are not? discuss

([this](https://stackoverflow.com/questions/26975089/making-the-labels-of-the-scatterplot-vertical-and-horizontal-in-pandas) stackoverflow may come in handy)

## all students
At last, from the original dataset remove only the columns that are NaN in the column "Weather Normalized Site EUI (kBtu/ft²)"

In [0]:
# -- drop buildings for which WN Site EUI is NaN
wnec = "Weather Normalized Site EUI (kBtu/ft²)"
...
ll84pl.shape

(4619, 156)

## Analysis: Owner investigation 
### Find owner of the single most energy consuming building

**Find owner of the single most energy consuming building**, as measured by the "Site Weather Normalized EUI per unit area ". 

**Find all the buildings that they own.**


show the weather-normalized site energy consumption and the owner name for the top 30 consuming buildings in Manhattan

In [0]:
print("Owner of the hisghest consuming building:...", 
      "They own ... buildings")

Owner of the hisghest consuming building:... They own ... buildings

### Find average building consumption by owner 
For all owners that own more than one building, find the average consumption for buildings owned by the same owner. Your dataframe should have 2 columns called _Weather Normalized Site EUI (kBtu/ft²)_	and _counts_

**Who owns the most energy consuming buildings on average?**

**Who owns the most buildings**

# 667 and EC

Universities are big realtors in NYC. The may own by different names. Find all builgings owned by NYU and COLUMBIA. replace the ownename with NYU and COLUMBIA respectively and re-aggregate the data based on these names and again find the owner of the buildings that pon average consume the most, of the highest number of buildings, and that owns the most sq footage